{% extends 'profile/base.html' %}
{% load static %}
{% load tailwind_tags %}


{% block content %}
<div class="pt-24 mx-20">
  <p class="text-center font-bold text-2xl">Find A Suitable Job For You</p>
  <div
    class="flex flex-row justify-around mx-20 mt-10 mb-14 py-4 px-8 gap-14 font-medium text-sm bg-white border border-slate-100 drop-shadow-md rounded-lg">
    <a href="#" class="link link-underline link-underline-black text-black">Content Creator</a>
    <a href="#" class="link link-underline link-underline-black text-black">Developer</a>
    <a href="#" class="link link-underline link-underline-black text-black">Graphics & Animation</a>
    <a href="#" class="link link-underline link-underline-black text-black">SQA & Visualizer</a>
    <a href="#" class="link link-underline link-underline-black text-black">Management</a>
    <a href="#" class="link link-underline link-underline-black text-black">Data Analyst</a>
  </div>
  <div class="flex flex-col gap-2 mt-4">
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="{% static 'img/jobimg.png' %}" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
  </div>

  <div class="flex flex-row justify-center gap-4 mt-4">
    <a href="#" class="text-blue-500 hover:underline">prev</a>
    <a href="#" class="text-blue-500 hover:underline">1</a>
    <a href="#" class="text-blue-500 hover:underline">2</a>
    <a href="#" class="text-blue-500 hover:underline">3</a>
    <a href="#" class="text-blue-500 hover:underline">next</a>
  </div>
</div>

<hr class="my-8 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 border-y-8" />

<div class="mt-16 mb-14 mx-20">
  <p class="text-center font-bold text-2xl">Latest Job Circulars</p>
  <div class="flex flex-col gap-2 mt-8">
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
        <img src="img/jobimg.png" alt="" class="object-cover h-12 w-18 py-1 drop-shadow-xl">
        <div class="bg-gray-100  drop-shadow-md ml-2 pl-2 py-2 w-full">
          <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
          <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
            Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
            Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock content %}