{% extends 'profile/base.html' %}
{% load static %}
{% load tailwind_tags %}


{% block content %}
<div class="pt-24 flex flex-row px-10">
  <div class="flex flex-col">
    <p class="text-lg font-medium mb-4">Dashboard</p>
    <div class="flex flex-row jystify-around gap-4 ">
      <div class="flex flex-col justify-around gap-4 mt-2">
        <img src="{% static 'job/img/rsmedit.png' %}" alt="" class="w-8 opacity-90">
        <hr>
        <img src="{% static 'job/img/myjobs.png' %}" alt="" class="w-8 opacity-90">
        <hr>
        <img src="{% static 'job/img/myinterest.png' %}" alt="" class="w-8 opacity-90">
        <hr>
      </div>
      <div class="flex flex-col justify-around gap-2">
        <a href="" class="text-md font-medium link link-underline link-underline-black text-black">Edit Resume</a>
        <a href="" class="text-md font-medium link link-underline link-underline-black text-black">My Jobs</a>
        <a href="" class="text-md font-medium link link-underline link-underline-black text-black">My Interests</a>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-8 ml-24 mb-24 w-9/12">
    <div>
      <p class="text-center text-xs text-gray-400 ">Applied on 10 June 2022</p>
      <a href="#">
        <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
          <img src="{% static 'job/img/jobimg.png' %}" alt="" class="object-cover h-12 w-18 py-1">
          <div class="bg-gray-100 ml-2 pl-2 py-2 w-full">
            <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
            <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
              Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
              Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
          </div>
        </div>
      </a>
      <p class="bg-white border rounded-lg text-sm p-2 w-auto">10 June 2022<br>
        Md. Akmal Sharif<br>
        36/A, Bolck B, Road #4, Banani, Dhaka.<br>
        akmalsharif@outlook.com<br>
        Sir<br>
        I have always passionate about doing work as a full stack developer since my learning phase. <br>
        I have been doing multiple projects as a full stack developer and already completed many.The project details
        attached
        to the resume attached. I am very much interested to work at your company as Full Stack software engineer.<br>
        I am looking forward to have an interview session with your company so that I could express myself more.<br>
        Sincerely<br>
        Md. Rokonuzzaman Khan</p>
    </div>
    <div>
      <p class="text-center text-xs text-gray-400 ">Applied on 10 June 2022</p>
      <a href="#">
        <div class="flex flex-row gap-4 p-2 hover:drop-shadow-xl duration-200">
          <img src="{% static 'job/img/jobimg.png' %}" alt="" class="object-cover h-12 w-18 py-1">
          <div class="bg-gray-100 ml-2 pl-2 py-2 w-full">
            <p class="font-bold text-sm"> Junior Full Steck Devoloper in Arisent Software firm</p>
            <p class="text-sm"> Job Description: Need a Full Steck Web Developer in the junior position.
              Salary Range: 25000 - 30000 per month. Workdays: 5 days <br>
              Location: H#23/A, Block-B, Gulshan-2, Dhaka </p>
          </div>
        </div>
      </a>
      <p class="bg-white border rounded-lg text-sm p-2 w-auto">10 June 2022<br>
        Md. Akmal Sharif<br>
        36/A, Bolck B, Road #4, Banani, Dhaka.<br>
        akmalsharif@outlook.com<br>
        Sir<br>
        I have always passionate about doing work as a full stack developer since my learning phase. <br>
        I have been doing multiple projects as a full stack developer and already completed many.The project details
        attached
        to the resume attached. I am very much interested to work at your company as Full Stack software engineer.<br>
        I am looking forward to have an interview session with your company so that I could express myself more.<br>
        Sincerely<br>
        Md. Rokonuzzaman Khan</p>
    </div>
  </div>
</div>
{% endblock content %}