{% load static %}
{% load tailwind_tags %}
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{% static 'profile/js/index.js' %}" type="text/javascript"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/flowbite@1.4.7/dist/datepicker.js"></script>
  <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">



  <script src="pdf.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <script>
    window.onload = function () {
      document.getElementById("download")
        .addEventListener("click", () => {
          const invoice = this.document.getElementById("invoice");
          console.log(invoice);
          console.log(window);
          var opt = {
            margin: 1,
            filename: 'Resume2Do.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 5 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
          };
          html2pdf().from(invoice).set(opt).save();
        })
    }
  </script>

  <title>Resume2Do</title>
  <link rel="icon" type="image/x-icon" href="{% static 'profile/img/favicon.png' %}">
  {% tailwind_css %}
</head>



<body>

  <!--Navbar start-->
  {% if request.user.is_staff %}
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5  z-50 fixed w-full ">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <!--<a href="https://flowbite.com" class="flex items-center">-->
      <a href="{% url 'home' %}"><img src="{% static 'profile/img/Logo.png' %}" class="mr-3 h-6 sm:h-9"
          alt="Resume2Do" /></a>
      <!--<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>-->

      <div class="flex md:order-2">

        <div x-data="{
                      open: false,
                      toggle() {
                          if (this.open) {
                              return this.close()
                          }
          
                          this.$refs.button.focus()
          
                          this.open = true
                      },
                      close(focusAfter) {
                          if (! this.open) return
          
                          this.open = false
          
                          focusAfter && focusAfter.focus()
                      }
                  }" x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']"
          class="relative">
          <!-- Button -->
          <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')"
            type="button"
            class="text-white bg-blue-700 hover:bg-orange-300 duratio-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <span> ADMIN </span>
            <span aria-hidden="true">&darr;</span>
          </button>

          <!-- Panel -->
          <div x-ref="panel" x-show="open" x-transition.origin.top.left x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')" style="display: none;"
            class="absolute left-0 mt-2 w-24 bg-white rounded shadow-md overflow-hidden">
            <div>
              <a href="#" class="block w-full px-5 py-2 text-left text-sm hover:bg-blue-400 disabled:text-gray-500">
                Admin
              </a>
            </div>

            <div class="border-t border-orange-500">
              <a href="{% url 'signout' %}"
                class="block w-full px-5 py-2 text-left text-sm hover:bg-blue-400 disabled:text-gray-500">
                Logout
              </a>

              <!--<a href="#" disabled
                                  class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                                  Delete task
                              </a>-->
            </div>
          </div>
        </div>

      </div>

      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="{% url 'resume' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 duration-100 drop-shadow-md"
              aria-current="page">Resume</a>
          </li>
          <li>
            <a href="{% url 'jobcircular' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Job Circular</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Guidelines & Blogs</a>
          </li>
          <li>
            <a href="{% url 'hirepost' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Creat Job</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% elif request.user.is_authenticated %}
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 z-50 fixed w-full ">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <!--<a href="https://flowbite.com" class="flex items-center">-->
      <a href="{% url 'home' %}"><img src="{% static 'profile/img/Logo.png' %}" class="mr-3 h-6 sm:h-9"
          alt="Resume2Do" /></a>
      <!--<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>-->

      <div class="flex md:order-2">

        <div x-data="{
                      open: false,
                      toggle() {
                          if (this.open) {
                              return this.close()
                          }
          
                          this.$refs.button.focus()
          
                          this.open = true
                      },
                      close(focusAfter) {
                          if (! this.open) return
          
                          this.open = false
          
                          focusAfter && focusAfter.focus()
                      }
                  }" x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']"
          class="relative">
          <!-- Button -->
          <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')"
            type="button"
            class="text-white bg-blue-700 hover:bg-orange-300 duratio-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <span>Hi! {{request.user.username}}</span>
            <span aria-hidden="true">&darr;</span>
          </button>

          <!-- Panel -->
          <div x-ref="panel" x-show="open" x-transition.origin.top.left x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')" style="display: none;"
            class="absolute left-0 mt-2 w-24 bg-white rounded shadow-md overflow-hidden">
            <div>
              <a href="{% url 'profile_dashboard' %}"
                class="block w-full px-5 py-2 text-left text-sm hover:bg-blue-400 disabled:text-gray-500">
                Profile
              </a>
            </div>

            <div class="border-t border-orange-500">
              <a href="{% url 'signout' %}"
                class="block w-full px-5 py-2 text-left text-sm hover:bg-blue-400 disabled:text-gray-500">
                Logout
              </a>

              <!--<a href="#" disabled
                                  class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                                  Delete task
                              </a>-->
            </div>
          </div>
        </div>

      </div>

      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="{% url 'resume' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 duration-100 drop-shadow-md"
              aria-current="page">Resume</a>
          </li>
          <li>
            <a href="{% url 'jobcircular' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Job Circular</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Guidelines & Blogs</a>
          </li>
          <li>
            <a href="{% url 'hirepost' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Creat Job</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% else %}
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 z-50 fixed w-full ">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <!--<a href="https://flowbite.com" class="flex items-center">-->
      <a href="{% url 'home' %}"><img src="{% static 'profile/img/Logo.png' %}" class="mr-3 h-6 sm:h-9"
          alt="Resume2Do" /></a>
      <!--<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>-->

      <div class="flex md:order-2">
        <button><a href="{% url 'login' %}"
            class="text-white bg-blue-700 hover:bg-orange-300 duratio-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log
            In</a></button>
      </div>

      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="{% url 'resume' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 duration-100 drop-shadow-md"
              aria-current="page">Resume</a>
          </li>
          <li>
            <a href="{% url 'jobcircular' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Job Circular</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Guidelines & Blogs</a>
          </li>
          <li>
            <a href="{% url 'hirepost' %}"
              class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white text-sm mx-5 mt-1.8 hover:text-orange-500 drop-shadow-md duration-100"
              aria-current="page">Creat Job</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
  <!--Navbar end-->



  <div class="pt-24 flex flex-row justify-between px-10">
    <div class="flex flex-col fixed z-30">
      <p class="text-lg font-medium mb-4">Dashboard</p>
      <div class="flex flex-row jystify-around gap-4 ">
        <div class="flex flex-col justify-around gap-4 mt-2">
          <img src="{% static 'profile/img/rsmedit.png' %}" alt="" class="w-8 opacity-90">
          <hr>
          <img src="{% static 'profile/img/myjobs.png' %}" alt="" class="w-8 opacity-90">
          <hr>
          <img src="{% static 'profile/img/myinterest.png' %}" alt="" class="w-8 opacity-90">
          <hr>
        </div>
        <div class="flex flex-col justify-around gap-2">
          <a href="" class="text-md font-medium link link-underline link-underline-black text-black">Edit Resume</a>
          <a href="" class="text-md font-medium link link-underline link-underline-black text-black">My Jobs</a>
          <a href="" class="text-md font-medium link link-underline link-underline-black text-black">My Interests</a>
        </div>
      </div>
    </div>

    <!--Resume part-->
    <div class="pl-48 pb-10 flex flex-row">
    

      {% if profile %}
      {% for profile in profile %}
      <!--pdf generate start-->
      <div class="flex flex-row border w-auto h-fit sticky top-14" id="invoice">
        <div class="w-2/5 bg-gray-600 pt-10 pb-10 font-family drop-shadow-lg">
          <p class="text-2xl font-bold text-white mx-4 my-2">{{profile.first_name}}<a
              class="text-orange-400">{{profile.last_name}}</a></p>
          <img src="{{profile.profile_image}}'" alt="" class="mb-2">
          <div class="mx-4 text-white">
            <div class="">
              <p class="font-bold mt-8 text-orange-400">Contact</p>
              <hr>
              <p class="mt-2 font-semibold text-xs">Address:</p>
              <p class="text-xs">{{profile.address}}</p>
              <p class="mt-2 font-semibold text-xs">Phone:</p>
              <p class="text-xs">{{profile.phone_number}}</p>
              <p class="mt-2 font-semibold text-xs">Email:</p>
              <p class="text-xs">{{profile.email}}</p>
              <p class="mt-2 font-semibold text-xs">Linkedin:</p>
              <p class="text-xs">{{profile.linkedin}}</p>
            </div>
            <div>
              <p class="font-bold mt-8 text-orange-400">Languages</p>
              <hr>
              <p class="mt-2 font-semibold text-xs">{{profile.language1}} <br>{{profile.language2}} <br>{{profile.language3}} </p>
            </div>
            <div>
              <p class="font-bold mt-8 text-orange-400">Hobbies</p>
              <hr>
              <ul class="list-disc pl-8">
                <li class="text-xs">{{profile.hobbies1}}</li>
                <li class="text-xs">{{profile.hobbies2}}</li>
                <li class="text-xs">{{profile.hobbies3}}</li>
                <li class="text-xs">{{profile.hobbies4}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-3/5 pl-4 pr-4 font-family text-gray-800 bg-white drop-shadow-lg">
          <p class="font-bold mt-12 text-orange-400">Summary</p>
          <hr>
          <p class="text-xs mt-2">{{profile.summary}}
          </p>
          <p class="font-bold mt-8 text-orange-400">Skill Higlights</p>
          <hr>
          <div class="flex flex-row gap-8 text-xs font-family text-gray-800 ml-8 mt-2">
            <ul class="list-disc">
              <li>{{profile.skill1}}</li>
              <li>{{profile.skill2}}</li>
              <li>{{profile.skill3}}</li>
            </ul>
            <ul class="list-disc">
              <li>{{profile.skill4}}</li>
              <li>{{profile.skill5}}</li>
              <li>{{profile.skill6}}</li>
            </ul>
          </div>
          <p class="font-bold mt-8 text-orange-400">Experience</p>
          <hr>
          <div class="text-xs mt-2">
            <p><a class="text-xs font-bold">{{profile.designation}}:</a> {{profile.from_date}} - {{profile.to_date}}</p>
            <p class="mt-2"><a class="text-xs font-bold">Web Develper at GrabSoft:</a> {{profile.country}}</p>
            <div class="ml-8">
              <ul class="list-disc">
                <li>{{profile.job_role1}}</li>
                <li>{{profile.job_role2}}</li>
                <li>{{profile.job_role3}}</li>
                <li>{{profile.job_role4}}</li>
                <li>{{profile.job_role5}}</li>
              </ul>
            </div>
          </div>
          <p class="font-bold mt-8 text-orange-400">Education</p>
          <hr>
          <div class="text-xs mt-2">
            <p>{{profile.degree}}: <a class="text-xs font-bold">{{profile.subject}}</a>-2014 <a
                class="text-xs font-bold">{{profile.institute_name}}</a></a></p>
          </div>

          <p class="font-bold mt-4 text-orange-400">Certifications</p>
          <hr>
          <div class="text-xs mt-2">
            <p>{{profile.certificate_name1}}: <a class="text-xs font-bold">{{profile.course1}}</a></p>
            <p>{{profile.certificate_name2}}: <a class="text-xs font-bold">{{profile.course2}}</a></p>
          </div>
        </div>
      </div>
      <!--pdf generate end-->
      {% endfor %}
      {%else%}
       <!-- Dummy template -->
       <div class="flex flex-row border w-auto h-fit sticky top-14" id="invoice">
        <!--pdf generate start-->
        <div class="w-2/5 bg-gray-600 pt-10 pb-10 font-family drop-shadow-lg">
          <p class="text-2xl font-bold text-white mx-4 my-2">Mohsin <a class="text-orange-400">Kalam</a></p>
          <img src="{% static 'profile/img/images.jpg' %}" alt="" class="mb-2 object-contain w-48 h-48">
          <div class="mx-4 text-white">
            <div class="">
              <p class="font-bold mt-8 text-orange-400">Contact</p>
              <hr>
              <p class="mt-2 font-semibold text-xs">Address:</p>
              <p class="text-xs">177 Green Portland Street, London, WSW 6PQ</p>
              <p class="mt-2 font-semibold text-xs">Phone:</p>
              <p class="text-xs">+44(0)20 7666 8555</p>
              <p class="mt-2 font-semibold text-xs">Email:</p>
              <p class="text-xs">christopher.m@gmail.com</p>
              <p class="mt-2 font-semibold text-xs">Linkedin:</p>
              <p class="text-xs">linkedin.com/christopher.morgan</p>
            </div>
            <div>
              <p class="font-bold mt-8 text-orange-400">Languages</p>
              <hr>
              <p class="mt-2 font-semibold text-xs">English <br>Bangla <br>Hindi </p>
            </div>
            <div>
              <p class="font-bold mt-8 text-orange-400">Hobbies</p>
              <hr>
              <ul class="list-disc pl-8">
                <li class="text-xs">Writing</li>
                <li class="text-xs">Sketching</li>
                <li class="text-xs">Photography</li>
                <li class="text-xs">Design</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-3/5 pl-4 pr-4 font-family text-gray-800 bg-white drop-shadow-lg">
          <p class="font-bold mt-12 text-orange-400">Summary</p>
          <hr>
          <p class="text-xs mt-2">Senior Web Development specializing in front end development.
            Experienced with all stages of the development cycle for dynamic web projects.
            Well-versed in numerous programming languages including HTMLS,PHP OOP, JavaScript,
            CSS, MySQL, Strong background in project management and customer relations.
          </p>
          <p class="font-bold mt-8 text-orange-400">Skill Higlights</p>
          <hr>
          <div class="flex flex-row gap-8 text-xs font-family text-gray-800 ml-8 mt-2">
            <ul class="list-disc">
              <li>Project managemnent</li>
              <li>Strong decision maker</li>
              <li>Complex problem solver</li>
            </ul>
            <ul class="list-disc">
              <li>Creative</li>
              <li>Innovative</li>
              <li>Service-focused</li>
            </ul>
          </div>
          <p class="font-bold mt-8 text-orange-400">Experience</p>
          <hr>
          <div class="text-xs mt-2">
            <p><a class="text-xs font-bold">Web Developer:</a> 01/2017 - 06/2019</p>
            <p class="mt-2"><a class="text-xs font-bold">Web Develper at GrabSoft:</a> 07/2019 - 06/2022</p>
            <div class="ml-8">
              <ul class="list-disc">
                <li>Cooperate with designers to create clean interfaces and simple intuitive interactions and
                  experiences.
                </li>
                <li>Develop project concepts and create project workflows</li>
                <li>Work with senior develolopers to create big and complex project for corporate clients</li>
                <li>Complete detailed programming and development tasks for front end public and internal webstes as
                  well
                  as challenging back-end server code.</li>
                <li>Carry out quality assurance tests to discover errors and optimizing usability.</li>
              </ul>
            </div>
          </div>
          <p class="font-bold mt-8 text-orange-400">Education</p>
          <hr>
          <div class="text-xs mt-2">
            <p>Bachelor of Science: <a class="text-xs font-bold">Computer Information System</a>-2014 <a
                class="text-xs font-bold">Columbia University,NY</a></a></p>
          </div>
          <p class="font-bold mt-4 text-orange-400">Certifications</p>
          <hr>
          <div class="text-xs mt-2">
            <p>PHP Framework (certificate): <a class="text-xs font-bold">Zend, Codeigniter, Symfony.</a></p>
            <p>Programming Languages: <a class="text-xs font-bold">JavaScript, HTML5, PHP OOP, CSS, SQL, MySQL</a></p>
          </div>
        </div>
        <!--pdf generate end-->
      </div>
      {% endif %}

      
      <div class="w-5/12 ml-8 font-family text-sky-400">
        <p class="text-lg font-bold">Fill up the fields to edit the resume</p>
        <form method="POST" action="{% url 'profile_dashboard' %}">
          {% csrf_token %}
          <span class="text-sm">Name</span>
          <div class="flex flex-row gap-4">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-sm" required
              placeholder="First Name" name="first_name">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-sm" required
              placeholder="Last Name" name="last_name">
          </div>
          <span class="text-sm">Upload Image</span>
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" name="profile_image">
          <!--Contact-->
          <p class="text-sm bg-blue-800 text-white px-1 py-0 pr-80 mt-2">Contact</p>
          <span class="text-sm">Address</span>
          <input type="text" class="border rounded-md w-full text-sm pl-2 text-gray-700" name="address">
          <span class="text-sm">Phone</span>
          <input type="text" class="border rounded-md w-full text-sm pl-2 text-gray-700" name="phone_number">
          <span class="text-sm">Email</span>
          <input type="text" class="border rounded-md w-full text-sm pl-2 text-gray-700" name="email">
          <span class="text-sm">Linkedin</span>
          <input type="text" class="border rounded-md w-full text-sm pl-2 text-gray-700" name="linkedin">

          <p class="mt-4 font-bold text-lg text-orange-400">Body Part</p>
          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-96">Summary</span>
          <textarea type="text" rows="6" maxlength="500" class="border rounded-md w-full pl-2 text-gray-700 text-sm"
            placeholder="Write something about you (within 500 character)" name="summary"></textarea>
          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-80">Skill Higlights</span>
          <div class="flex flex-col mb-2 gap-2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 1"
              name="skill1">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 2"
              name="skill2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 3"
              name="skill3">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 4"
              name="skill4">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 5"
              name="skill5">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Skill 6"
              name="skill6">
          </div>
          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-80">Experience</span>
          <div class="flex flex-row gap-4">
            <div class="basis-1/2">
              <span class="text-sm">Designation</span>
              <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="designation">
            </div>
            <div class="basis-1/4">
              <span class="text-sm">From</span>
              <input datepicker datepicker-format="yyyy-mm-dd" type="text"
                class="border rounded-md w-full pl-2 text-gray-700" placeholder="Select date" name="from_date">
            </div>
            <div class="basis-1/4">
              <span class="text-sm">To</span>
              <input datepicker datepicker-format="yyyy-mm-dd" type="text"
                class="border rounded-md w-full pl-2 text-gray-700" placeholder="Select date" name="to_date">
            </div>
          </div>
          <div class="flex flex-row gap-4">
            <div>
              <span class="text-sm">Company Name</span>
              <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="company_name">
            </div>
            <div>
              <span class="text-sm">Country</span>
              <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="country">
            </div>
          </div>
          <div>
            <span class="text-sm">Job Role</span>
            <textarea type="text" rows="2" maxlength="200" class="border rounded-md w-full pl-2 text-gray-700 text-xs"
              placeholder="Role 1" name="job_role1"></textarea>
            <textarea type="text" rows="2" maxlength="200" class="border rounded-md w-full pl-2 text-gray-700 text-xs"
              placeholder="Role 2" name="job_role2"></textarea>
            <textarea type="text" rows="2" maxlength="200" class="border rounded-md w-full pl-2 text-gray-700 text-xs"
              placeholder="Role 3" name="job_role3"></textarea>
            <textarea type="text" rows="2" maxlength="200" class="border rounded-md w-full pl-2 text-gray-700 text-xs"
              placeholder="Role 4" name="job_role4"></textarea>
            <textarea type="text" rows="2" maxlength="200" class="border rounded-md w-full pl-2 text-gray-700 text-xs"
              placeholder="Role 5" name="job_role5"></textarea>
          </div>
          <span class=" h-6text-sm bg-blue-800 text-white px-1 py-0 pr-80">Languages</span>
          <div class="flex flex-row gap-4 mb-2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Language 1"
              name="language1">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Language 2"
              name="language2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Language 3"
              name="language3">
          </div>
          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-80">Hobbies</span>
          <div class="flex flex-row gap-2 mb-2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Hobbies 1"
              name="hobbies1">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Hobbies 2"
              name="hobbies2">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Hobbies 3"
              name="hobbies3">
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs h-6" placeholder="Hobbies 4"
              name="hobbies4">
          </div>
          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-80">Education</span>
          <div class="flex flex-row gap-4">
            <span class="text-sm">Degree</span>
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="degree">
            <span class="text-sm">Subject</span>
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="subject">
          </div>
          <span class="text-sm">Institute Name</span>
          <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="institute_name">
          <div class="flex flex-row gap-2 mt-2">
            <span class="text-sm">Year</span>
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700 text-xs" placeholder="Year of passing"
              name="passing_year">
            <span class="text-sm">Country</span>
            <input type="text" class="border rounded-md w-full pl-2 text-gray-700" name="country_name">
          </div>

          <span class="text-sm bg-blue-800 text-white px-1 py-0 pr-80">Certifications</span>
          <div class="flex flex-col gap-2 mt-2">
            <span class="text-sm">certificate Name</span>
            <input type="text" class="border rounded-md w-full h-6 pl-2 text-gray-700 text-xs"
              placeholder="Year of passing" name="certificate_name1">
            <span class="text-sm">Courses</span>
            <input type="text" class="border rounded-md w-full h-6 pl-2 text-gray-700 text-xs"
              placeholder="Give names using commas" name="course1">
          </div>
          <div class="flex flex-col gap-2 mt-2">
            <span class="text-sm">certificate Name</span>
            <input type="text" class="border rounded-md w-full h-6 pl-2 text-gray-700 text-xs"
              placeholder="Year of passing" name="certificate_name2">
            <span class="text-sm">Courses</span>
            <input type="text" class="border rounded-md w-full h-6 pl-2 text-gray-700 text-xs"
              placeholder="Give names using commas" name="course2">
          </div>
          <br>
          <div class="flex items-baseline justify-between">
            <button type="submit"
              class="w-full text-center py-3 rounded bg-green-400 text-white hover:bg-blue-700 focus:outline-none my-1">Preview
            </button>
          </div>
        </form>



        <div class="flex items-baseline justify-between">
          <button type="submit" id="download"
            class="w-full text-center py-3 rounded bg-orange-400 text-white hover:bg-blue-700 focus:outline-none my-1">Download
            resume
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Footer start-->
  <div>
    <div>
      <hr class="my-6 border-gray-200 border-y-8" />
      <footer class="p-2 bg-blue-800 shadow md:px-6 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div class="text-white">
            <p class="text-lg font-bold">Get in touch</p>
            <p>Mobile: +88012345678 <br>Mail: abcd@resume2do.com<br>Addess: H#1,Block:B, Banani-4, Dhaka</p>
          </div>
          <a href="{% url 'home' %}" class="justify-center ml-32 sm:mb-0">
            <img src="{% static 'profile/img/Logo.png' %}" class="mr-3 bg-white px-10 h-8 text-2xl" alt="Resume2Do" />
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm text-white sm:mb-0 dark:text-gray-400">
            <li>
              <a href="{% url 'resume' %}" class="mr-4 hover:underline md:mr-6 ">Resume</a>
            </li>
            <li>
              <a href="{% url 'jobcircular' %}" class="mr-4 hover:underline md:mr-6">Job Circulars</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Guidelines & Blogs</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact Us</a>
            </li>
          </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-white sm:text-center dark:text-gray-400">© 2022 <a href="{% url 'home' %}"
            class="hover:underline">Resume2Do</a>. All Rights Reserved.
        </span>
      </footer>
    </div>
  </div>
  <!--Footer end-->

</body>

</html>